main {
    padding-top: 100px;
}

.cart h1 {
    padding: 30px 0;
    text-align: center;
}

.box {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .2s ease;
    border-radius: 5%;
    box-shadow: 2px 3px var(--gray-300);
    padding: 1rem;
    background-color: var(--gray-100);
}
.box:hover {
    box-shadow: 5px 8px 20px rgba(201,237,194,1);
    transform: scale(1.001);
}

.box-img-container {
    width: 500px;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.box-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    padding: 20px;
    position: relative;
    width: 100%;
    user-select: none;
}

.content h3 {
    margin-bottom: 20px;
}

.content > div {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.content p {
    font-size: var(--fs-18);
}

.btn-area {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100vmax;
    background: none;
}
.btn-area:hover {
    color: var(--red);
}

.content .serving-size-options label {
    width: 30px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 100vmax;
    background-color: var(--gray-200);
    border: 1px solid rgba(215, 215, 215, 0.486);
    cursor: pointer;
}

.content .serving-size-options input {
    display: none;
}

.content .serving-size-options input:checked ~ label {
    background-color: var(--green);
    color: var(--gray-100);
}



.right-bar {
    padding: 20px;
    padding-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 2px 3px var(--gray-300);
    border: 1px solid var(--gray-200);
    position: relative;
    user-select: none;
}

.right-bar > div {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-20);
    padding-block: 10px;
}

.right-bar > div:nth-child(3) {
    border-top: 1px solid var(--gray-300);
}

.right-bar .sana-all-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--green);
    color: var(--gray-100);
    padding-block: 10px;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    font-size: var(--fs-20);
}

.right-bar .sana-all-button i {
    margin-right: 10px;
    font-size: var(--fs-16);
}

.right-bar .sana-all-button:hover {
    background-color: var(--green-light);
}