main {
  padding-top: 100px;
}

.cir-line1 {
  padding: .6125rem;
  border-radius: 10px;
  background-color: var(--gray-100);
  margin-bottom: 1rem;
  /* background-color: aqua; */
}

.step-food-card {
  margin-bottom: 1rem;
  padding: 5px;
  background-color: var(--green-1);
  border-radius: 5px;
}

.img-container {
  width: 10rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.step-food-card-info {
  display: grid;
  width: 100%;
  padding: 1rem .625rem;
}

.step-food-card-info p {
  font-size: var(--fs-26);
  align-self: start;
}

.step-food-card-info .stars {
  align-self: center;
}

.step-food-card-info .stars i {
  font-size: 1rem;
  color: rgb(255, 214, 81);
}

.step-food-card-info span{
  font-weight: 600;
}



.cir-line2 {
  padding: 1rem;
  background-color: var(--gray-100);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cir-line2 .calculate-total-container div:last-child {
  border-top: 1px solid rgba(128, 128, 128, 0.419);
  padding-top: .6125rem;
  margin-top: 5px;
}



.cir-line3 {
  padding: 1rem;
  background-color: var(--gray-100);
  border-radius: 10px;
  margin-bottom: 1rem;

}

.why-buy-container {
  font-size: 14px;
}

.why-buy-container h5 {
  font-family: var(--ff-lato);
  font-weight: 500;
  text-align: center;
  margin-bottom: .6125rem;
}

.seal-container {
  width: 20rem;
  aspect-ratio: 1/1;
}



.payment-online-type-container {
  width: 400px;
  height: 100px;
  border: 5px solid blue;
  border-radius: 1rem;
  position: relative;
  margin-top: 5rem;
  margin-inline: auto;
}

.payment-online-type-container img {
  border-radius: 1rem;
  height: 100%;
}

.cil-line3-title {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);

  font-size: var(--fs-26);
  word-wrap: none;
  background-color:  #fefefe;
  font-weight: 600;
  color: steelblue;
  padding-inline: 5px;
  width: max-content;
}