main {
  padding-top: 100px;
}


/* ========= filter ============ */

#filteration {
  margin-block: 1rem;
  z-index: 10;

}

.card {
  position: relative;
  color: hsl(var(--text) / 1);
  padding-bottom: 2rem;
}

.card-body {
  padding: 10px;
}

#sub {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body>*:not(:last-child) {
  margin-bottom: 10px;
}

.card .card-image-container {
  width: 100%;
  height: 10rem;
}

.card-image-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.product-section-container {
  padding: 1rem;
  background-color: var(--gray-200);
  border-radius: 10px;
  display: none;
}

.product-section-container.show {
  display: block;
}


#search- input[type="text"] {
  font-size: 1rem;
  padding: 5px 10px;
  outline: none;
}

#product-filter-btn,
#product-cart-btn,
#product-search-btn {
  padding: 10px 1rem !important;
  background-color: var(--green);
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  color: #fefefe;
}

#product-filter-btn i,
#product-cart-btn i,
#product-search-btn i {
  font-size: .775rem;
}

#product-filter-btn {
  position: relative;
}

#product-filter-btn .filter-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: gray;
  padding: 10px;
  text-align: start;
  z-index: 10;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: .3s ease-out;

}

#product-filter-btn.active .filter-menu {
  opacity: 1;
  transform: translateY(0);
}


#product-filter-btn .filter-menu>li {
  width: 6rem;
  padding-block: 10px;
  opacity: .7;
  cursor: pointer;
}

#product-filter-btn.active .filter-menu>li {
  pointer-events: auto;
}

#product-filter-btn .filter-menu>li:hover {
  opacity: 1;
}

#product-filter-btn .filter-menu>li.active {
  opacity: 1;
}






.col.remove {
  display: none;
}









#product-section-subheading {
  color: var(--green);
}

.card-body {
  border-top: 5px solid var(--green);
  color: hsl(var(--text) / 1);

}

.card-body .card-title {
  font-family: var(--ff-lato);
  font-size: var(--fs-18);
  font-weight: 500;
}

.card-body .card-text:last-child {

  position: absolute;
  left: 10px;
  bottom: 10px;
}



.card .card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.628);
  display: grid;
  place-content: center;
  opacity: 0;
  transition: .3s ease-out;
}

.card .card-overlay .card-buttons button {
  margin: 10px;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
}

.card .card-overlay .card-buttons button:first-child {
  transform: translateX(-20px);
  transition: .15s ease-in;
}

.card .card-overlay .card-buttons button:last-child {
  transform: translateX(20px);
  transition: .15s ease-in;
}


.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);

}

.card:hover .card-overlay {
  opacity: 1;
}

.card:hover .card-overlay .card-buttons button {
  transform: translateX(0);
}

.card-overlay .card-buttons button:hover {
  background-color: var(--green);
  color: var(--gray-100);
}






@media screen and (max-width: 768px) {
  #filteration .btn-name {
    display: none;
  }
}