main {
  padding-top: 100px;
}


/* ========= filter ============ */

#filteration{
  margin-block: 1rem;
}

.card {
  position: relative;
  padding-bottom: 2rem;
}

#sub {
  white-space: nowrap; 
  width: 160px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.card-body > *:not(:last-child){
  margin-bottom: 10px;
}

.card .card-image-container {
  width: 100%;
  height: 8rem;
}

.card-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.product-section-container {
  padding: 1rem;
  background-color: #e7e7e750;
  border-radius: 10px;
}


#search- input[type = "text"]{
  font-size: 1rem;
  padding: 5px 10px;
  outline: none;
}

#product-filter-btn,
#product-cart-btn,
#product-search-btn {
  padding: 0px 1rem !important;
  background-color: #5fc44b;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  color: var(--gray-100);
}

#product-filter-btn i,
#product-cart-btn i,
#product-search-btn i {
  font-size: .775rem;
}

#product-section-subheading {
  color: var(--green);
}

.card-body #card-btn {
  background-color: #5fc44b;
  color: var(--gray-100);
  width: 90%;
  padding-block: .325rem;
  border-radius: 100vmax;

  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}




@media screen and (max-width: 768px) {
  #filteration .btn-name{
    display: none;
  }
}