.header {
    padding-top: 100px;
}

.sub-title {
    font-family: var(--ff-lato);
    font-size: var(--fs-18);
    font-weight: 600;
    margin-bottom: 10px;
}

/* ====================== section 1 =================== */


#recipe h1 {
    color: var(--green);
    letter-spacing: 2px;
}

#recipe {
    padding: 2rem;
}

.food-img-container {
    width: 100%;
    aspect-ratio: 16/9;
    /* height: 25rem; */
    overflow: hidden;

    background-color: #5fc44b;
    padding: .3rem;
}

.food-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.food-img-description {
    margin-top: 1rem;
}

.food-img-description h6 {
    font-family: var(--ff-lato);
    font-weight: 600;
}


.order-button-container {
    display: flex;
    justify-content: end;
}

.order-button-container button {
background-color: var(--green);
color: var(--gray-100);
padding: .875rem 2rem;
margin-bottom: 1rem;
border-radius: 5px;
}

.brief-description {
    /* background-color: #5fc44b; */
    padding: 1rem;
    /* box-shadow: 0 0 15px var(--gray-300); */
    
    border: 1px solid var(--gray-300);
}

.brief-description p {
font-size: var(--fs-18);
}

.brief-description .label {
    font-weight: 600;
}

.brief-description-nutrifacts {
    border-top: 1px solid var(--gray-200);
    padding: 10px 0rem;
    margin-top: 10px;
    border-radius: 5px;
}

.brief-description-nutrifacts .nutrifact-title {
    font-size: var(--fs-18);
    font-weight: 600;
}

.brief-description-nutrifacts ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}





/* ====================== section 2 =================== */
/* #ingridients-procedure-section {
    margin-block: 5rem;
} */



#ingredients ul li {
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.294);
    justify-content: space-between;
    padding-block: 5px;
}

#ingredients ul li span:first-child {
    width: 60%;
    text-transform: capitalize;
}

#ingredients ul li:last-child {
    border: none;
}

#ingredients, #directions {
    padding: 2rem;
    background-color: var(--gray-200);
    border-radius: 5px;
}

#ingredients .num-of-persons-btns {
    justify-content: end;
    margin-bottom: 14px;
}

#ingredients .num-of-persons-btns > div {
    width: auto;
}

#ingredients .num-of-persons-btns > div > input {
    display: none;
}

#ingredients .num-of-persons-btns > div > label {
    display: grid;
    place-items: center;
    width: 3.5rem;
    height: 2.5rem;
    background-color: var(--gray-100);
    cursor: pointer;
    transition: .25s ease-out;
}

#ingredients .num-of-persons-btns > div > input:checked + label {
    background-color: var(--green);
    color: var(--gray-100);
}



#directions {
    background-color: rgb(141, 231, 96);
}

#directions > div {
    margin-bottom: 2rem;
}

#directions #directions-list li {
    list-style-type: a;
    list-style-position: inside;
    line-height: 1.6;
    margin-bottom: 10px;
}

#directions #utensils-list li {
    list-style-position: inside;
    list-style-type: square;
    margin-bottom: 10px;
}

#btn {
    background-color: #5fc44b;
    color: var(--gray-100);
    width: 90%;
    padding-block: .325rem;
    border-radius: 100vmax;
}








/* 
#you-might-like .container {
} */



.cards-container {
    /* overflow: scroll; */
    display: flex;
    flex-wrap: wrap;    
}

.card-container {
    padding: 3px;
    background-color: antiquewhite;
}

.card-container .card- {
    /* flex: 0 0 25%; */
    width: 17rem;
    height: 18rem;
    background-color: var(--green);
    position: relative;
    padding-bottom: 30px;
    transition: all .3s ease-out;
}


.card- .left-card-img-container {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.card- .left-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card- .description {

    padding: 10px;
    height: auto;
}

.card- .description .line1 h5{
    font-family: var(--ff-lato);
    font-size: var(--fs-18);
    font-weight: 600;
}

.card- .description .line1 p{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.card- .description .line2-left {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card- .description .line2-left > p {
    padding-inline: 3px;
}

.card- .description .line2-left p:first-child {
    border-right: 1px solid gray;
}



.card- .card-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.628);
    display: grid;
    place-content: center;
    opacity: 0;
    transition: .3s ease-out;
}

.card- .card-overlay .card-buttons button {
    margin: 10px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 100vmax;
}

.card- .card-overlay .card-buttons button:first-child {
    transform: translateX(-20px);
    transition: .3s ease-in;
}

.card- .card-overlay .card-buttons button:last-child {
    transform: translateX(20px);
    transition: .3s ease-in;
}


.card-container .card-:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);

}

.card-container .card-:hover .card-overlay {
    opacity: 1;
}

.card-container .card-:hover .card-overlay button {
    transform: translateX(0);
}




@media screen and (max-width: 992px) {
    
    .cards-container {
        flex-wrap: nowrap;
    overflow: scroll;
    }

    .cards-container  .card- {
        flex: 0 0 20rem;
        height: 20rem;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .cards-container  .card- {
        flex: 0 0 15rem;
        height: 20rem;
        padding: 10px;
    }
}