@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Roboto:wght@300;400;500;700&display=swap');

:root {

  /* ###### COLORS ###### */

  --red: #F12D31;
  --green: #59B747;
  --orange: #FF9F29;
  --red-orange: #F17B31;
  --yellow: #F9D330;
  --purple: #8F2D94;
  --brown: #87431E;
  --blue: #3799DA;
  --green-1: hsl(79, 59%, 63%);

  /* whites */

  --white:    #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-200-p5: hsl(210 16% 93% / .7);
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-700-p3: hsl(210 9% 31% / .3) ;
  --gray-800: #343a40;
  --gray-900: #212529;



  /* ###### FONT FAMILY ###### */

  --ff-lobster-italic: 'Lobster', cursive;
  --ff-lobster: 'Lobster Two', cursive;
  --ff-roboto: 'Roboto', sans-serif;


  /* ###### FONT SIZES ###### */

  --step--3: clamp(0.58rem, calc(0.50rem + 0.37vw), 0.77rem);
  --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
  --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
  --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
  --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);



  --section-padding: clamp(0.75rem, calc(-2.47rem + 16.10vw), 9.00rem);
}


body{
  font-family: var(--roboto);
}

h1 {
  font-family: var(--ff-lobster-italic);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-lobster);
}

button {
  border: 0;
  outline: 0;

}

/* section {
  height: 600px;
} */

/* UTILITY CLASSES */

.carousel__container {
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.carousel__container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__container li.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.carousel__container li.slide[data-active] {
  opacity: 1;
  z-index: 2;
}

.carousel__container li.slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.carousel__container button {
  z-index: 4;
  position: absolute;
  top: 45%;
  background-color: var(--gray-700-p3);
  color: var(--gray-200-p5);
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  transition: all .2s ease;
}

.carousel__container button:hover,
.carousel__container button:focus {
  background-color: var(--gray-700);
  color: var(--gray-100);
}

.carousel__container button:active {
  transform: scale(.9);
}

.carousel__container button.next {
  right: 10%;
}

.carousel__container button.prev {
  left: 10%;
}