
/* ################################
      Header
###################################*/

.header{
  padding-top: 100px;
}



/* ################################
      Header carousel
###################################*/

#hero {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

#hero-left {
  margin-bottom: 1em;
}

#hero-left p{
  max-width: 600px;
}

#hero-left-btn {
  margin-top: 1rem;
  padding: var(--button-padding);
  background-color: var(--green);
  color: var(--gray-100);
  border-radius: .3125em;
}

.hero-carousel-container {
  position: relative;
}


.hero-slides {
  display: flex;
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  margin-inline: auto;
}

.hero-slides .hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  max-width: 520px;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  background-color: #6ef9af;
  padding: 2em;
  outline: 2px dashed #fb8075;
  outline-offset: -20px;
  margin: auto;
}

.hero-slides .hero-slide[data-active] {
  opacity: 1;
} 

.hero-slides .hero-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}


.hc-btn-container {
  position: absolute;
  right: 5vw;
  bottom: 5vw;
}

.hc-btn-container button {
  /* font-size: 1.3rem; */
  font-size: var(--step-0);
  width: 3em;
  height: 3em;
  border-radius: 100vmax;
  background-color: #85ffbe77;
}

.hc-btn-container button img {
  width: 100%;
  max-width: 40px;
}

.hc-btn-container button#hc-prev-btn {
  transform: rotate(90deg);
}

.hc-btn-container button#hc-next-btn {
  transform: rotate(-90deg);
}

#hero svg{
  position: absolute;
  z-index: -1;
  top: -10%;
  right: 0;
  width: auto;

}

#hero svg path {
  fill: #fbf675;
}


/* ################################
      Main
###################################*/










/* ################################
      Main - section recipes
###################################*/

#products .container {
  margin-top: 3.125em;
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  padding-bottom: 1rem;
  border-radius: 5px;
}

.card__main {
  padding: 3em;
  display: flex;
  align-items: center;
  height: 100%;
}

.card__main .card__main-content h3 {
  font-family: var(--ff-lato);
  font-weight: 600;
}

.card__main .card__main-content button {
  background-color: var(--green);
  color: var(--gray-100);
  padding: .6125em 1em;
  border-radius: 5px;
}


.left-cards {
  display: flex;
  overflow-x: auto;
  padding: 50px;
  padding-right: 0;
}

.left-cards::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.left-cards::-webkit-scrollbar-thumb {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 100vmax;
  box-shadow: inset 0px 0px 2px var(--gray-700);
}

.left-cards::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(45deg, #6ef9af 0%, #fbf675 100%);
}

.left-cards::-webkit-scrollbar-track {
  background:hsl(208, 100%, 97%, 0.5);
  border-radius: 100vmax;
}



.left-cards .card- .left-card-img-container {
  width: 100%;
  height: 12rem;
  overflow: hidden;
}

.left-cards .card- .left-card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card- {
  min-width: 300px;
  height: 350px;
  box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-webkit-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-moz-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
  transition: .2s ease-out;
  z-index: 5;
  position: relative;
  transition: .2s ease-out;
  transform-origin: top right;
  cursor: pointer;
  background-color: var(--green);
}


.card-:not(:first-child) {
  margin-left: -50px;
}

.card-:hover {
  transform: rotateZ(5deg);
  transition: 0.4s ease-out;
}

.card-:hover~.card- {
  transform: translateX(50px);
  transition: 0.4s ease-out;
}


.description {
  padding: 15px;
}

.card- .description .line1 h5 {
  font-family: var(--ff-lato);
  font-weight: 600;
  letter-spacing: 1px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.description .line.line2 {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.line .line2-left {
  display: flex;
}

.line .line2-left p {
  padding-right: 5px;
  font-size: var(--fs-16);
}

.line .line2-left p:not(:last-child)::after {
  content: " |";
}

.description .hash p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}







/* ################################
      Main - Reasons
###################################*/
#reasons {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: 5em;
}

#reasons-container {
  justify-content: center;
  margin-block: 2rem;
}

#reasons h2 {
  font-weight: 500;
  letter-spacing: 1px;
}

.reasons{
  width: min(100%, 500px);
  margin: .6125rem;
  padding: 1.5rem;
  align-items: center;
  background-color: #FFFB7D;
  border-radius: 2rem;
  outline: 1px dashed black;
  outline-offset: -5px;
}

.reason-right {
  display: grid;
  place-items: center;
}

.reason-right > img {
  width: min(80%, 80px);
}

.reasons h4 {
  font-family: var(--ff-lato);
  font-size: var(--fs-20);
  font-weight: 500;
}






/* ################################
      Main - Commetns
###################################*/

#comment-section {
  padding-block: 5rem;
}

.comment-row {
  overflow: auto;
}

.comment-row-sub {
  width: 100%;
  flex-wrap: wrap;
}
  
.comment-card-container {
  padding: 5px;
  width: 25%;
}

.comment-card-container .card {
  border: none;
  width: 16rem;
}

.card .card-body {
  text-align: center;
}

.card .card-body .comment-card-username {
  font-size: var(--fs-18);
  font-weight: 600;
  margin-bottom: .3125rem;
}

.card .card-body .comment-card-has  htag {
  font-size: var(--fs-16);
  font-style: italic;
}



/* ################################
      Main - FAQS
###################################*/

.faq-accordion .faq-qa {
  background-color: var(--green);
  border: 2px solid var(--green);
  margin-bottom: 1rem;
}

.faq-accordion .faq-qa label{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--fs-18);
  font-weight: 500;
  color: #fefefe;
}

.faq-accordion .faq-qa label {
  padding: .875rem 1.75rem .875rem 1.3125rem;
}

.faq-accordion .faq-qa .faq-answer-container {
  padding: .875rem 1.3125rem;
}

.faq-accordion .faq-qa input {
  display: none;
}

.faq-accordion .faq-qa label i {
  position: absolute;
  top: 35%;
  right: .725rem;
  transition: transform .3s ease;
}

.faq-accordion .faq-qa .faq-answer-container {
  background-color: #fefefe;
  line-height: 1.5;
  font-size: var(--fs-18);
  display: none;
  transition: .5s ease;
}

.faq-accordion .faq-qa input:checked ~ .faq-answer-container {
  transition: .5s ease;
  display: block;
  
}

.faq-accordion .faq-qa input:checked ~ label {
  font-size: var(--fs-16);
}

.faq-accordion .faq-qa input:checked ~ label i {
  transform-origin: 0 0 0 0;
  transform: rotate(45deg);
}






/* ################################
      Media Queries
###################################*/

@media (max-width: 992px) {
  .comment-row {
    overflow-x: scroll;
  }
  .comment-row-sub{
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .comment-card-container {
    width: 25rem;
  }
}




@media (max-width: 580px){
  .header {
    padding-top: 50px;
  }
  .hero-carousel-container {
    height: 250px;
  }
}