
/* UTILITY CLASSES */









/* ################################
      Header
###################################*/





/* ################################
      Header carousel
###################################*/

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 50px
}

#hero-left {
  margin-bottom: 1em;
}

#hero-left p{
  max-width: 600px;
}

#hero-left-btn {
  margin-top: 1rem;
  padding: var(--button-padding);
  background-color: var(--green);
  color: var(--gray-100);
  border-radius: .3125em;
}
/*

.hero-carousel-container {
  width: min(100%, 50rem);
  aspect-ratio: 1/ 1;
  overflow: hidden;
  border: 15px solid;
border-image: url(../../imgs/border/border.png);
border-image-slice: 50;
border-image-width: 50px;
border-image-outset: 20px;
border-image-repeat: repeat;
position: relative;
background-color: #6ef9af;
}
.hero-carousel-slides {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* background-color: #faf206; */
/* }

.hc-slides-slide {
  min-width: 100%;
  overflow: hidden;
}

.hc-slides-slide > img {
  height: 100%;
  width: 100%;
}

.hc-btn-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.hc-btn-container .hero-carousel-btn {
  background-color: var(--green);
  font-size: 1rem;
  width: 2.5em;
  height: 2.5em;
  color: var(--gray-100);
  border-radius: 100vmax;
} */

#hero-right {
  /* min-height: 100%; */
  /* background-color: #6ef9af; */
}

.hero-carousel-container {
  height: calc(30vw + 1rem);
  /* background-color: #fbf675; */
  /* overflow: hidden; */
  position: relative;
}


.hero-slides {
  display: flex;
  position: relative;
  /* background-color: #85FFBD; */
  height: 100%;
}

.hero-slides .hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.hero-slides .hero-slide[data-active] {
  opacity: 1;
} 

.hero-slides .hero-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}


.hc-btn-container {
  position: absolute;
  right: .6125rem;
  bottom: -2rem;
}

.hc-btn-container button {
  /* font-size: 1.3rem; */
  font-size: var(--step-0);
  width: 3em;
  height: 3em;
  border-radius: 100vmax;
  background-color: #85ffbe77;
}

.hc-btn-container button img {
  width: 100%;
  max-width: 40px;
}

.hc-btn-container button#hc-prev-btn {
  transform: rotate(90deg);
}

.hc-btn-container button#hc-next-btn {
  transform: rotate(-90deg);
}

/* ################################
      Main
###################################*/










/* ################################
      Main - section recipes
###################################*/

#products .container {
  margin-top: 3.125em;
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  padding-bottom: 1rem;
  border-radius: 5px;
}

.card__main {
  padding: 3em;
  display: flex;
  align-items: center;
  height: 100%;
}

.left-cards {
  display: flex;
  overflow-x: auto;
  padding: 50px;
  padding-right: 0;
  /* background-color: aqua; */
}

.left-cards::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.left-cards::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% ); */
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 100vmax;
  box-shadow: inset 0px 0px 2px var(--gray-700);
}

.left-cards::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(45deg, #6ef9af 0%, #fbf675 100%);
}

.left-cards::-webkit-scrollbar-track {
  background:hsl(208, 100%, 97%, 0.5);
  border-radius: 100vmax;
}

.card {
  min-width: 300px;
  height: 350px;
  box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-webkit-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-moz-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
  transition: .2s ease-out;
  z-index: 5;
  position: relative;
  transition: .2s ease-out;
  transform-origin: top right;
  cursor: pointer;
}


.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: rotateZ(5deg);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  transform: translateX(50px);
  transition: 0.4s ease-out;
}


.description {
  padding: 1em;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line .line2-left {
  display: flex;
}

.line .line2-left p {
  padding-right: 5px;
}

.line .line2-left p:not(:last-child)::after {
  content: " |";
}







/* ################################
      Main - Reasons
###################################*/
#reasons {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: 5em;
}

#reasons-container {
  justify-content: center;
  margin-block: 2rem;
}

.reasons{
  width: min(100%, 500px);
  margin: .6125rem;
  padding: 1rem;
  height: 150px;
  align-items: center;
  background-color: #FFFB7D;
  border-radius: 5px;
}

.reason-right {
  display: grid;
  place-content: center;
}







/* ################################
      Main - Commetns
###################################*/

#comment {
  padding-block: 2rem;
  /* background-color: #FFFB7D; */
  display: flex;
  align-items: center;
}

.slide-container {
  position: relative;
  inset: 0;
  user-select: none;
  overflow-x: hidden;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-container h3 {
  margin-bottom: 4rem;
}

.slide-track {
  position: relative;
  inset: 0;

  display: flex;
  width: calc(360px * 16);
  gap: .8125em;
  animation: scroll 60s linear infinite;
  transition: 0.5s ease-out;
  padding-bottom: 3rem;
  
}



.slide {
width: 350px;
position: relative;
top: 0;
left: 0;
background-color: #85FFBD;
perspective: 100px;
padding: 1rem;
border-radius: 10px;

scroll-snap-align: start;
transition: .5s ease-out;
}

.slide:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px var(--gray-700);
  z-index: 99;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(-360px * 10));
  }
}

.slide > img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center center;
}

.user-comment {
  padding: .6125em;
  text-overflow: ellipsis;
}






/* ################################
      Main - FAQS
###################################*/
/* #faqs {
  background-color: #6ef9af;
}

#faqs label {
  background-color: #fbf675;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#faqs input {
  display: none;
}

#faqs span {
  transition: .2s ease-out;
}

#faqs input:checked ~ label span {
  transform: rotate(45deg);
}

#faqs .faq-answer{
  display: none;
  height: 0;
  padding: 1em;
  padding-right: 2em;
  transition: all .5s ease-out;
}

#faqs input:checked ~ .faq-answer{
  display: block;
  height: 100%;
  max-height: 400px;
}


 */

#faq-section {
  /* text-align: center; */
  min-height: 100vh;
  display: grid;
  place-items: center;
  /* background: url('../../imgs/backgrounds/3.jpg') rgba(128, 128, 128, 0.738); */
  background-blend-mode: multiply;
}

#faq-section .container {
  position: relative;
  /* background-color: #85FFBD; */
}

#faq-section .container .faq-section-left {
  position: absolute;
  width: 100%;
  max-width: 40rem;
  left: -5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;

}


#faq-section-title {
  margin-bottom: 1em;
  text-align: center;
  color: var(--green);
}

.faqs-container {
  background-color: rgba(240, 255, 255, 0.605);
  padding: .6125em;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
}

.faq {
  background-color: peru;
  border-radius: 10px;
  overflow: hidden;
  margin-block: 5px;
}

.faq header {
  padding: 1em;
  font-weight: 600;
  align-items: center;
}

.faq i {
  transition: .4s ease-out;
}

.faq .answer {
  padding-inline: 1em;
  height: 0;
  line-height: 1.6;
  transition: .3s ease-out
}

.faq.open {
  padding-bottom: 1em;
}

.faq.open i{
  transform: rotate(90deg);
}

.faq.open .answer {
  /* border-top: 1px dotted black; */
  padding-bottom: 1em;
}











/* ################################
      Media Queries
###################################*/

@media (max-width: 991px) {

  header {
    display: grid;
    grid-template-areas:
      'nav'
      'hero'
    ;
  }

  nav .nav__logo-container {
    order: 1;
  }

  nav .nav__right {
    order: 2;
  }

  .nav__logo-container {
    margin-inline: auto;
  }

  .nav__center {
    width: min(150px, 20vw);

  }

  .nav__menu-btn {
    display: inline-block; 
    height: 100%;
  }

  
  .nav__menu-container {
    z-index: 20;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 200px;
    transform: translateX(-200%);
    transition: transform 1s ease-out;
  }
  
  .open-menu-btn[aria-expanded=true]+.nav__menu-container {
    transform: translateX(0);
  }
  
  .nav__menu {
    background-color: blue;
    flex-direction: column;
    align-items: center;
    
  }

  .nav__menu .nav__menu-item {
    height: 4em;
    display: grid;
    place-content: center;
  }



  .hero-carousel-container {
    height: 500px;
  }



}



@media (max-width: 580px){

  nav{
    padding-inline: 10px;
  }


  .hero-carousel-container {
    height: 250px;
  }


  .footer-left__first,
  .footer-left__second,
  .footer-left__third {
    text-align: center;
    margin-top: 2em;
  }

}