@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lobster&family=Lobster+Two&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-lato);
  position: relative;
}

h1 {
  font-family: var(--ff-lobster-italic);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-lobster);
  margin: 0;
}

button {
  border: 0;
  outline: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img { width: 100%; }


@supports not (-ms-ime-align: auto) {

details summary { 
  cursor: pointer;
  user-select: none;
  background-color: #6ef9af;
  padding: 1rem ;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 10s ease-out;
}

details summary:focus {
  border-radius: 5px;
}

details summary > * {
  display: inline;
}

details p {
  padding: 1rem;
  border: 5px solid #6ef9af;
}

}




/* UTILITY CLASSES */









/* ################################
      Header
###################################*/

nav {
  scroll-snap-align: start;

  display: grid;
  width: 100%;
  grid-area: nav;
  grid-template-areas:
    'logo menu right';
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 50px;
  align-items: center;
  padding: 10px;
  z-index: 20;
  transition: all 600ms ease;
}

.nav__logo-container {
  grid-area: logo;
  width: 70%;
}


.nav__center {
  grid-area: menu;
}

.nav__menu {
  display: flex;
  justify-content: center;
}

.nav__menu-item {
  margin-inline: 10px;
}

.nav__menu-item a:focus-visible,
nav a:focus-visible {
  outline: 2px solid var(--green);
  outline-offset: 0.5em;
}

.nav__menu-item a {
  color: var(--gray-800);
  font-size: var(--step-0);
}


.nav__right {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav__right>* {
  margin-inline: 5px;
}

.nav__right span {
  padding: 0.3125em 0.625em;
  border: 1px solid var(--green);
  border-radius: 50%;
}

.nav__right a {
  padding: 0.3125em 0.625em;
  color: var(--gray-800);
  border: 1px solid var(--green);
  border-radius: 5px;
}

.nav__menu-btn {
  display: none;
}

.open-menu-btn {
  height: 30px;
  background-color: aqua;
  user-select: none;
  appearance: none;
  border: 0;
}

/* menu - button */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
/* menu */






/* ################################
      Header carousel
###################################*/

#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

#hero-left-btn {
  margin-top: 1rem;
  padding: var(--button-padding);
  background-color: var(--green);
  color: var(--gray-100);
  border-radius: .3125em;
}


.hero-carousel-container {
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  border: 15px solid;
border-image: url(../../imgs/border/border.png);
border-image-slice: 50;
border-image-width: 50px;
border-image-outset: 20px;
border-image-repeat: repeat;
}
.hero-carousel-slides {
  position: relative;
  inset: 0;
  display: flex;
}

.hc-slides-slide {
  min-width: 100%;
}

.hc-slides-slide > img {
  height: 100%;
}

.hc-btn-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.hc-btn-container .hero-carousel-btn {
  background-color: var(--green);
  font-size: 1rem;
  width: 2.5em;
  height: 2.5em;
  color: var(--gray-100);
  border-radius: 100vmax;
}





/* ################################
      Main
###################################*/










/* ################################
      Main - section recipes
###################################*/

#products .container {
  margin-top: 3.125em;
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  padding-bottom: 1rem;
  border-radius: 5px;
}

.card__main {
  padding: 3em;
  display: flex;
  align-items: center;
  height: 100%;
}

.left-cards {
  display: flex;
  overflow-x: auto;
  padding: 50px;
  padding-right: 0;
  /* background-color: aqua; */
}

.left-cards::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.left-cards::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% ); */
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border-radius: 100vmax;
  box-shadow: inset 0px 0px 2px var(--gray-700);
}

.left-cards::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(45deg, #6ef9af 0%, #fbf675 100%);
}

.left-cards::-webkit-scrollbar-track {
  background:hsl(208, 100%, 97%, 0.5);
  border-radius: 100vmax;
}

.card {
  min-width: 300px;
  height: 350px;
  box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-webkit-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
-moz-box-shadow: -8px 2px 12px 4px rgba(0,0,0,0.55);
  transition: .2s ease-out;
  z-index: 5;
  position: relative;
  transition: .2s ease-out;
  transform-origin: top right;
  cursor: pointer;
}


.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: rotateZ(5deg);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  transform: translateX(50px);
  transition: 0.4s ease-out;
}


.description {
  padding: 1em;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line .line2-left {
  display: flex;
}

.line .line2-left p {
  padding-right: 5px;
}

.line .line2-left p:not(:last-child)::after {
  content: " |";
}







/* ################################
      Main - Reasons
###################################*/
#reasons {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#reasons-container {
  justify-content: center;
  margin-block: 2rem;
}

.reasons{
  width: min(100%, 500px);
  margin: .6125rem;
  padding: 1rem;
  height: 150px;
  align-items: center;
  background-color: #FFFB7D;
  border-radius: 5px;
}

.reason-right {
  display: grid;
  place-content: center;
}







/* ################################
      Main - Commetns
###################################*/

#comment {
  padding-block: 2rem;
  background-color: #FFFB7D;
  display: flex;
  align-items: center;
}

.slide-container {
  position: relative;
  inset: 0;
  user-select: none;
  overflow-x: hidden;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-container h3 {
  margin-bottom: 4rem;
}

.slide-track {
  position: relative;
  inset: 0;

  display: flex;
  width: calc(360px * 16);
  gap: .8125em;
  animation: scroll 50s linear infinite;
  transition: 0.5s ease-out;
  padding-bottom: 3rem;
  
}



.slide {
width: 350px;
position: relative;
top: 0;
left: 0;
background-color: #85FFBD;
perspective: 100px;
padding: 1rem;
border-radius: 10px;

scroll-snap-align: start;
transition: .5s ease-out;
}

.slide:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px var(--gray-700);
  z-index: 99;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(-360px * 10));
  }
}

.slide > img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center center;
}

.user-comment {
  padding: .6125em;
  text-overflow: ellipsis;
}






/* ################################
      Main - FAQS
###################################*/
/* #faqs {
  background-color: #6ef9af;
}

#faqs label {
  background-color: #fbf675;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#faqs input {
  display: none;
}

#faqs span {
  transition: .2s ease-out;
}

#faqs input:checked ~ label span {
  transform: rotate(45deg);
}

#faqs .faq-answer{
  display: none;
  height: 0;
  padding: 1em;
  padding-right: 2em;
  transition: all .5s ease-out;
}

#faqs input:checked ~ .faq-answer{
  display: block;
  height: 100%;
  max-height: 400px;
}


 */

#faq-section {
  background-color: #fffcae;
  /* text-align: center; */
}

#faq-section-title {
  margin-bottom: 2em;
  text-align: center;
}

.faqs-container {
  background-color: azure;
  padding: .6125em;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
}

.faq {
  background-color: peru;
  border-radius: 10px;
  overflow: hidden;
  margin-block: 5px;
}

.faq header {
  padding: 1em;
  font-weight: 600;
  align-items: center;
}

.faq i {
  transition: .4s ease-out;
}

.faq .answer {
  padding-inline: 1em;
  height: 0;
  line-height: 1.6;
  transition: .3s ease-out
}

.faq.open {
  padding-bottom: 1em;
}

.faq.open i{
  transform: rotate(90deg);
}

.faq.open .answer {
  /* border-top: 1px dotted black; */
  padding-bottom: 1em;
}




/* ################################
      Footer
###################################*/
footer {
  user-select: none;
  margin-top: 2rem;
  /* background-color: #FFFB7D; */
}

.footer-top {
  justify-content: space-between;
  padding-block: 5em;
  border-top: 1px solid var(--green);
}

.footer-right__img-container {
  width: min(100%, 20rem);
  margin: auto;
}

.footer-right__container {
  width: min(50vw, 30rem );
  margin: auto;
}

.footer-left__container {
  margin: 2em;
}

.footer-left__container a,
.footer-left__container p {
  color: var(--gray-800);
}

.footer-left__container a:not(i){
  text-decoration: underline;
}

.footer-left__container p {
  user-select: none;
}

.footer-left__container .footer-social-links i {
  font-size: 20px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  padding-block: 1em;
  border-top: 1px solid var(--green);
}











/* ################################
      Media Queries
###################################*/

@media (max-width: 991px) {

  header {
    display: grid;
    grid-template-areas:
      'nav'
      'hero'
    ;
  }

  nav {
    grid-template-areas:
      'menu logo right';
  }

  .nav__menu-btn {
    display: inline-block;
  }


  .nav__menu-container {
    width: min(40rem, 100%);
    background-color: hsl(208, 100%, 97%);
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    transform: translateX(-200%);
    transition: transform 1s ease-out;
  }

  .open-menu-btn[aria-expanded=true]+.nav__menu-container {
    transform: translateX(0);
  }

  .nav__menu {
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
  }

  .nav__menu .nav__menu-item {
    height: 3em;
  }

}



@media (max-width: 580px){
  .footer-left__first,
  .footer-left__second,
  .footer-left__third {
    text-align: center;
    margin-top: 2em;
  }
}