
/* ################################
      Footer
###################################*/
footer {
  user-select: none;
  margin-top: 2rem;
  /* background-color: #FFFB7D; */
}

.footer-top {
  justify-content: space-between;
  padding-block: 5em;
  border-top: 1px solid var(--green);
}

.footer-right__img-container {
  width: min(100%, 20rem);
  margin: auto;
}

.footer-right__container {
  width: min(50vw, 30rem );
  margin: auto;
}

.footer-left__container {
  margin: 2em;
}

.footer-left__container a,
.footer-left__container p {
  color: var(--text);
}

.footer-left__container a:not(i){
  text-decoration: underline;
}

.footer-left__container p {
  user-select: none;
}

.footer-left__container .footer-social-links i {
  font-size: 20px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  padding-block: 1em;
  border-top: 1px solid var(--green);
}







/* color scheme */

.nav_menu .color-theme-container {
  display: none;
}



.color-theme-container {
  position: fixed;
  bottom: 20px;
  left: 10px;
  background-color: var(--green);
  border-radius: 100vmax;
  user-select: none;
  z-index: 20;
}

.color-theme-container .button-theme {
  width: 3.5rem;
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 100vmax;
  background-color: var(--green);
  transition: var(--transition-all-250-ease-out);
  cursor: pointer;
}

.color-theme-container .button-theme img {
  object-fit: contain;
}




#messenger-button {
  width: 3.5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  aspect-ratio: 1/1;
  background-color: var(--green);
  border-radius: 100vmax;
  font-size: var(--fs-26);

}








@media (max-width: 580px){
  .color-theme-container {
  display: none;
  }


  .footer-left__first,
  .footer-left__second,
  .footer-left__third {
    text-align: center;
    margin-top: 2em;
  }
}