@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lobster&family=Lobster+Two&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-lato);
  position: relative;
}

h1 {
  font-family: var(--ff-lobster-italic);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-lobster);
  margin: 0;
}

button {
  border: 0;
  outline: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img { width: 100%; 
height: auto;}








/* ################################
      Header Navbar
###################################*/



nav {
  scroll-snap-align: start;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 600ms ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  padding: 1em var(--section-padding);
  background-color: white;
  box-shadow: 0 5px 20px var(--gray-700-p3);

  z-index: 20;
}

.nav__logo-container {
  grid-area: logo;
  width: 30vw;
  max-width: 120px;
  transform: .3s ease-out;
}

.nav__center {
  grid-area: menu;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-item {
  margin-inline: 10px;
}

.nav__menu-item a:focus-visible,
nav a:focus-visible {
  outline: 2px solid var(--green);
  outline-offset: 0.5em;
}

.nav__menu-item a {
  color: var(--gray-800);
  font-size: var(--step-0);
}


.nav__right {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: end;
  width: min(150px, 20vw);
  /* max-width: 150px; */
}

.nav__right>* {
  margin-inline: 5px;
}

.nav__right button{
  width: 2em;
  aspect-ratio: 1/ 1;
  border: 1px solid transparent;
  border-radius: 100vmax;
  font-size: var(--step-0);
  display: grid;
  place-content: center;
}

.nav__right button i {
  padding: 0;
  margin: 0;
}

.nav__right a {
  padding: 0.3125em 0.625em;
  color: var(--gray-800);
  border: 1px solid var(--green);
  border-radius: 5px;
}

.nav__menu-btn {
  display: none;
  background: none;
}

.open-menu-btn {
  height: 30px;
  user-select: none;
  appearance: none;
  border: 0;
}

/* menu - button */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

svg.ham {
  width: max(calc(10vw - 3rem), 30px);
}



.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
/* menu */




.bodyScroll .nav__logo-container{
  max-width: 80px;
}